/**
 * Explicitly set width of TW menu so that we can use a hidden peer gadget
 * to add space where the TW menu would go before it loads.
 */
.skin-vector .vector-menu-dropdown #p-twinkle {
	width: 3.24em;
}

/* The additional box on user skin.js and twinklepreferences.js pages */
#twinkle-config-headerbox {
	border: 1px #f60 solid;
	background: #fed;
	padding: 0.6em;
	margin: 0.5em auto;
	text-align: center;
}

/* twinkleoptions.js */
#twinkle-config-headerbox.config-twopt-box {
	font-weight: bold;
	width: 80%;
	border-width: 2px;
}

/* skin-specific js */
#twinkle-config-headerbox.config-userskin-box {
	width: 60%;
}
