/**
 * Explicitly set width of TW menu so that we can use a hidden peer gadget
 * to add space where the TW menu would go before it loads. See
 * twinkle-pagestyles.css
 */
.skin-vector .vector-menu-dropdown #p-twinkle {
	width: 3.24em;
}

/**
 * In skin vector-2022, open the TW menu when mouse hovers over it. Credit to
 * [[en:User:Nardog]] for this fix.
 */
.vector-menu-checkbox:hover ~ .vector-menu-content,
.vector-menu-content:hover {
	opacity: 1;
	visibility: visible;
	height: auto;
}

/* The additional box on user skin.js and twinklepreferences.js pages */
#twinkle-config-headerbox {
	border: 1px #f60 solid;
	background: #fed;
	padding: 0.6em;
	margin: 0.5em auto;
	text-align: center;
}

/* twinkleoptions.js */
#twinkle-config-headerbox.config-twopt-box {
	font-weight: bold;
	width: 80%;
	border-width: 2px;
}

/* skin-specific js */
#twinkle-config-headerbox.config-userskin-box {
	width: 60%;
}

/* WP:TWPREFS */
#twinkle-config-content input[type=checkbox] {
	margin-right: 2px;
}
