/* Status */
.tw_status_status {
    color: #4682B4;
}

.tw_status_info {
    color: #228B22;
}

.tw_status_warn {
    color: #FF4500;
}

.tw_status_error {
    color: #FF4500;
    font-weight: 900;
}

/* Quickform */
form.quickform {
    margin: auto;
    padding: .5em;
    vertical-align: middle;
    width: 96%;
}

form.quickform * {
    font-family: sans-serif;
    vertical-align: middle;
}

form.quickform select {
    border: 1px solid gray;
    font-size: 1.1em;
    width: 30em;
}

form.quickform h5 {
    border-top: 1px solid gray;
}

form.quickform textarea {
    height: 6em;
    width: 100%;
}

form.quickform .tooltipbuttoncontainer {
    position: relative;
    width: 100%;
}

form.quickform .tooltipbutton {
    color: blue;
    cursor: help;
    font-weight: 700;
    padding: .2em;
}

.quickformtooltip {
    background: #FAF0E6;
    border: 1px dotted red;
    font: caption;
    font-size: 10pt;
    max-width: 800px;
    padding: .1em;
    position: absolute;
    z-index: 200;
}

/* Portlet */
.skin-vector div div.extramenu h5 span {
    background-position: 90% 50%;
}

.skin-vector div.extramenu h5 a {
    padding-left: .4em;
    padding-right: .4em;
    width: auto;
}

.skin-vector div.extramenu h5 a span {
    display: inline-block;
    font-size: .8em;
    height: 2.5em;
    font-weight: 400;
    padding-top: 1.25em;
    margin-right: 14px;
}

.skin-modern #mw_contentwrapper div.portlet {
    overflow: hidden;
    height: 1.5em;
    margin: 0 0 0 14em;
    padding: 0;
}

.skin-modern #mw_contentwrapper div.portlet h5 {
    display: none;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody {
    margin: 0;
    padding: 0;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul {
    display: inline;
    margin: 0;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul li {
    display: block;
    float: left;
    height: 1.5em;
    margin: 0 .5em;
    padding: 0 .2em;
    text-transform: lowercase;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul li a {
    text-decoration: underline;
}

.skin-modern #mw_contentwrapper div.portlet div.pbody ul li.selected a {
    text-decoration: none;
}

/* Simplewindow */
.simplewindow {
    font: x-small sans-serif;
    position: fixed;
    background-color: #F0F8FF;
    border: 2px ridge #000;
    z-index: 100;
}

.simplewindow .content {
    position: absolute;
    top: 22px;
    bottom: 0;
    overflow: auto;
    width: 100%;
}

.simplewindow .resizebuttonhorizontal {
    position: absolute;
    background-color: #9370D8;
    opacity: .5;
    right: -2px;
    bottom: -2px;
    width: 20px;
    height: 4px;
    cursor: se-resize;
}

.simplewindow .resizebuttonvertical {
    position: absolute;
    opacity: .5;
    background-color: #9370D8;
    right: -2px;
    bottom: -2px;
    width: 4px;
    height: 20px;
    cursor: se-resize;
}

.simplewindow .closebutton {
    position: absolute;
    font: 100 .8em sans-serif;
    top: 1px;
    left: 1px;
    height: 100%;
    cursor: pointer;
}

.simplewindow .topbar {
    position: absolute;
    background-color: #B0C4DE;
    font: bold 1.2em sans-serif;
    vertical-align: baseline;
    text-align: center;
    width: 100%;
    height: 20px;
    padding-top: 2px;
    cursor: move;
}
